// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name{
  color: red;
  font-weight: 500;
  font-size: 20px;
}

.read{
  color: blue;
  font-weight: 400;
}
